@{
    var pixels = (System.Drawing.Color[,])ViewData["pixels"];
    var imageWidth = pixels.GetLength(0);
    var imageHeight = pixels.GetLength(1);
}

    <style>
    html {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body {
        min-width: @(String.Format("{0}px;", imageWidth));
        min-height: @(String.Format("{0}px;", imageHeight));
    }
    </style>

@if (pixels == null || pixels.Length == 0)
{
    <p>This should not have happened.</p>
}
else
{
    <div style="
    width: 1px;
    height: 1px;
    box-shadow:
        @for (var x = 0; x < imageWidth; x++)
        {
            @for (var y = 0; y < imageHeight; y++)
            {
                //Do nothing we can just set the background colour for that pixel
                @if (x == 0 && y == 0) continue;

                @(x.ToString() + "px " + y.ToString() + "px" + String.Format(" rgba({0}, {1}, {2}, {3}) ", pixels[x, y].R, pixels[x, y].G, pixels[x, y].B, pixels[x, y].A / 255) + (x < imageWidth - 1 || y < imageHeight - 1 ? "," : ";"));
            }
        }
    background-color: @(String.Format("rgba({0}, {1}, {2}, {3});", pixels[0, 0].R, pixels[0, 0].G, pixels[0, 0].B, pixels[0, 0].A / 255));
            ">
    </div>
}